body{
  background-color: #e6e6da;
  font-family: 'Indie Flower', cursive;
}
.container{
width: 1600px;
height: 900px;
margin-top: auto;
position: relative;
}
.logo{
  background-color: #a1c1b2;
  border-color: black;
  border-width: medium;
  border-style: solid;
  width: 500px;
  height: 120px;
  font-size: 5vh;
  margin-top: 50px;
  margin-left: 50px;
}
.comic{
  width: 100px;
  height: 100px;
  margin-top: 40px;
  margin-left: 100px;
  position: relative;
}
