body{
  background-color: #e6e6da;
  font-family: 'Indie Flower', cursive;
  text-shadow: 4px 4px 8px #a1c1b2;
}

.logo{
  background-color: #a1c1b2;
  border-color: black;
  border-width: medium;
  border-style: solid;
  width: 500px;
  height: 120px;
  font-size: 5vh;
  top: 50px;
  left: 50px;
  padding-bottom: 10px;
}
.comic{
  position: absolute;
  top: 160px;
  left: 300px;
}

#rightarrow{
  position: absolute;
  top: 350px;
  left: 1000px;
  z-index: 81;
  font-size: 40px;
}

#leftarrow{
  position: absolute;
  top: 350px;
  left: 230px;
  z-index: 81;
  font-size: 40px;
}
